@use "./not-found";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

:root {
  overscroll-behavior: none;
}

:root:has(.modal--show) {
  overflow: hidden;
}

html {
  @apply overflow-x-hidden;
  max-width: 100vw;
}

body {
  @apply m-0 font-inter text-sm md:text-base text-gray-dark font-normal pb-20 md:pb-0;
  @apply border-0 border-b-8 border-b-primary border-solid;
  max-width: 100vw;
  width: 100vw; // Prevents scrollbar from jumping when modal is opened

  //HACK Antialiasing
  font-smooth: always;
  -webkit-font-smoothing: antialiased;

  // Typography / Headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sora m-0 text-black;
  }
  h1 {
    @apply md:text-[40px] text-xl font-semibold leading-[40px] md:leading-[3.75rem];
  }
  h2 {
    @apply text-2xl md:text-[28px] font-semibold leading-[36.4px];
  }
  h3 {
    @apply text-xl md:text-2xl font-semibold leading-[32.4px];
  }
  h4 {
    @apply md:text-xl text-lg font-semibold leading-[24px];
  }
  h5 {
    @apply md:text-lg text-base font-semibold leading-[24.3px];
  }
  h6 {
    @apply text-sm md:text-base font-semibold leading-[24px];
  }

  .tippy-box {
    @apply bg-transparent shadow-lg text-primary text-xs;
    .tippy-arrow {
      @apply text-white;
    }
  }

  table {
    @apply w-full border-collapse overflow-hidden rounded-sm text-base font-normal text-gray-dark block md:table overflow-x-auto whitespace-normal;
    @apply h-auto md:h-[1px] !important;

    &.fixed {
      th:first-child,
      td:first-child {
        @apply sticky left-0 z-10 md:block;
      }
      tbody {
        tr {
          td {
            @apply bg-white;
          }
        }
      }
    }

    thead {
      tr > th {
        @apply font-inter font-semibold text-left text-gray-dark leading-6 whitespace-nowrap md:whitespace-pre-line p-4 px-6;
        @apply border-t border-[1px] border-solid border-gray-light;
      }
    }

    tbody {
      tr {
        @apply border border-solid border-gray-light;

        td {
          @apply text-left p-5 whitespace-nowrap md:whitespace-pre-line leading-3 md:leading-6 h-full;
          @apply border border-solid border-gray-light;
        }
      }
    }
  }

  .h_iframe {
    @apply overflow-hidden rounded-md;

    &.normal-style iframe {
      @apply w-full h-[400px];
    }

    &.twitter {
      @apply w-full h-[430px] md:h-[480px] lg:h-[600px] mx-auto;

      iframe {
        @apply w-auto md:w-full h-[430px] md:h-[480px] lg:h-full rounded-md;
        //@apply max-w-full h-[200px] ml-[-15px] w-[100vw] lg:w-full lg:h-[500px];
      }
    }

    &.youtube {
      @apply w-full h-[400px] md:h-[530px] border-0 border-solid border-gray-light shadow-sm bg-white;
      iframe {
        @apply w-full h-full rounded-md;
        //@apply max-w-full h-[200px] ml-[-15px] w-[100vw] lg:w-full lg:h-[500px];
      }
    }

    &.facebook iframe {
      @apply h-[500px] ml-[-15px] w-[100vw] lg:w-full lg:h-[870px];
    }

    &.one-football iframe {
      @apply h-[290px] ml-[-15px] w-[100vw] lg:w-full lg:h-[500px];
    }

    &.tiktok iframe {
      @apply w-[320px] h-[740px];
    }

    &.instagram iframe {
      @apply w-[320px] h-[600px];
    }
  }
}

.os-toast {
  @apply items-start py-5 border-solid border rounded-lg !important;

  &__icon {
    @apply pt-1.5 px-3;
    svg {
      @apply w-5 h-5;
    }
  }

  &__content {
    @apply flex gap-3;
    &__text {
      @apply flex flex-col gap-1 min-w-48;
      h5 {
        @apply font-semibold text-base;
      }
      p {
        @apply text-base m-0 p-0 !important;
      }
    }
    &__btn {
      @apply flex items-start;
      button {
        @apply bg-transparent border-0 cursor-pointer;
      }
    }
  }

  &.error {
    @apply bg-[#FFEBEC] border-[#FB3748];
    h5,
    p {
      @apply text-[#681219] !important;
    }
    button {
      svg {
        path {
          @apply stroke-[#FB3748];
        }
      }
    }
  }

  &.success {
    @apply bg-[#E0FAEC] border-[#1FC16B];
    h5,
    p {
      @apply text-[#0B4627] !important;
    }
    button {
      svg {
        path {
          @apply stroke-[#1FC16B];
        }
      }
    }
  }

  &.default {
    @apply bg-[#EBF1FF] border-[#335CFF];
    h5,
    p {
      @apply text-[#122368] !important;
    }
    button {
      svg {
        path {
          @apply stroke-[#335CFF];
        }
      }
    }
  }
}
